<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
      <option selected>Open this select menu</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
    <p>totalAmount</p>
    <h1 class="text-center">4500 <span></span></h1>
    <table class="table">
      <tbody>
        <tr>
          <td scope="row"><i class="fa-solid fa-house fa-2xl"></i></td>
          <td>Lunch <br>2022.04.12</td>
          <td>
            <h2>60</h2>
          </td>
          <td><a href="" class="btn btn-primary">edit</a><br></td>
          <td><a href="" class="btn btn-danger">delete</a></td>
          </td>
        </tr>
      </tbody>

    </table>
    <a class="block m-auto btn btn-warning " href="/new">Add new account</a>
  </div>
</div>