<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mt-3">Login</h1>

      <form action="/news" method="POST">
        <div class="input-group mb-3">
          <span class="input-group-text">Name</span> <input type="text" id="name" name="name" class="form-control"
            placeholder="Enter Name">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">Date</span> <input type="Date" id="date" name="date" class="form-control"
            value="" min="2022-01-01" max="2099-12-31" required pattern="\d{4}-\d{2}-\d{2}">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">Category</span><select class="form-select" name="categoryId" id="categoryId"
            aria-label="Example select with button addon">
            <option selected>Choose...</option>
            {{#each categories}}
            <option value="{{this._id}}">{{this.name}}</option>
            {{/each}}
          </select>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">Amount</span> <input type="text" id="amount" name="amount" class="form-control"
            placeholder="Enter Amount">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
      </form>
    </div>
  </div>
</div>